<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.niqdev.ipcam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IpCamDefaultActivity"
            android:label="@string/activity_ipcam_default"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.niqdev.ipcam.MainActivity" />
        </activity>
        <activity
            android:name=".IpCamTwoActivity"
            android:label="@string/activity_ipcam_two"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.niqdev.ipcam.MainActivity" />
        </activity>
        <activity
            android:name=".IpCamSnapshotActivity"
            android:label="@string/activity_ipcam_snapshot"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.niqdev.ipcam.MainActivity" />
        </activity>
        <activity
            android:name=".IpCamNativeActivity"
            android:label="@string/activity_ipcam_native"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.niqdev.ipcam.MainActivity" />
        </activity>
        <activity
            android:name=".IpCamCustomAppearanceActivity"
            android:label="@string/activity_ipcam_custom_appearance"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.niqdev.ipcam.MainActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.niqdev.ipcam.MainActivity" />
        </activity>
    </application>

</manifest>
